header {
  padding-top: 20px;
  position: relative;
  color: $text-color;
}
header img {
  height: 32px;
  display: inline-block;
}
nav {
  margin: 20px 0;
}
article {
  margin-top: 30px;
}

.website-title {
  // font-family: ;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  display: block;
  background-image: none;
  text-decoration: none !important;
  color: $text-color;
}
nav a {
  display: block;
  padding: 5px;
  text-align: center;
  background-image: none;
  text-decoration: none !important;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
// nav a:hover, nav a.current {
//   color: $text-color;
//   opacity: 0.76;
// }
header {
  margin-bottom: 40px;
}
@media all and (min-width: 500px) {
  header {
    margin-bottom: 100px;
  }
}
@media all and (min-width: 520px) {
  .website-title {
    text-align: left;
  }
  nav {
    position: absolute;
    top: 20px;
    right: 0;
    margin: 0;
  }
  nav a {
    display: inline-block;
    padding: 5px 8px;
  }
  .website-title {
    margin-bottom: 80px;
  }
}

.team-member-box {
  overflow: auto;
  margin-bottom: 24px;
}
.team-member-name {
  color: $red-color;
}


.posts>div div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
